@tailwind base;
@tailwind components;
@tailwind utilities;




html{
    scroll-behavior: smooth;
}   
i{
    border-radius: 2rem;
    background-image: linear-gradient(90deg, rgb(102, 167, 232) 39%, rgb(25, 47, 247) 95%);
}
.es{
    display: static !important;
}
.eng{
    display: none !important;
}
.nav-options{
    top: 1rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transition: ease-in-out 1s ;
}
.nav-options-fixed{
    top: 0;
    display: flex;

    height: 4rem;
    flex-direction: row;
    justify-content: space-around;
    transition: ease-in-out 1s ;
    position: fixed;
    background-color: #3e3f6c;
    z-index: 999;
}

body{
    background-color:rgb(44, 42, 74);
    margin: 0 auto;
    color:#ffffff;
    overflow-x: hidden;
    font-family: 'Mochiy Pop One', sans-serif;
   
}
a{
    cursor: pointer !important;
}
.ancho-proyectos >*{
    cursor: pointer;
}



.max-width{
    max-width: 900px;
}
.width{
    width: 100%;
}
.margin{
    margin: 0 auto;
}
.height-welcome{
    height: 50vh;
}
.height-correct-myname{
    height: 86vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.tecnologias-bg{
    border-radius: 3rem;
    background-color: #3e3f6c;
}
.index{
    z-index: 995;
}
.index2{
    z-index: 994;

}
.height-correct-skills{
    height: 5vh;
    margin-top: 11rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.height-correct-whoIme{
    margin-top:30rem;
    display: flex;
    /* flex-wrap: wrap; */
}
.height-correct-proyectos{
    top: 15rem;
    display: flex;
    /* flex-wrap: wrap; */
}
.bg-aboutme1{
    background-color: #4F518C;
}
.bg-aboutme2{
    background-color: #3e3f6c;
}
.bg-projects{
    
    
    box-shadow: 10px 3px 15px 0px rgba(0, 0, 0, 0.3);
    
}
.bg-projects:hover{
    filter: blur(0px);
    background-color: #5dabcf;
    box-shadow: 10px 3px 15px 12px rgba(0, 0, 0, 0.3);
    transition: .5s ease;
}
.bg-projects:not(:hover){
    /* background-color: #505163; */
    /* box-shadow: 10px 3px 15px 12px rgba(0, 0, 0, 0.3); */
    transition: .5s ease;
}
/* .bg-aboutme2{
    background-color: #907AD6;
} */
.text-color-special-string{
    color:#F10404;
}
.button-arrow-up{
    position: relative;
    border-radius: 3rem;
    /* color: #3ebfff; */
}

.img-arrow{
    display: none;
    
    opacity: 0;
    transition: 1s ;
}
.img-arrow-scroll{
    border-radius: 50%;
    background-color: #c3c8ca82;
    height: 5rem;
    width: 5rem;
    
    position: fixed;
    left: 90rem;
    top: 28rem;
    
    transition: 1s ;
    
}


.descriptive-text-size{
    font-size: 1.3rem;

}
.margin-aboutme{
    margin-bottom: 56%;
}
.margin-projects{
    margin-bottom: 45%;
}
.width-projects{
    width: 100%;
}
  .text-pop-up-top:hover {
	-webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
  .text-pop-up-top:not(:hover) {
	-webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

.color-button-projects-1:not(:hover){
    transition: .5s;

}
.color-button-projects-1:hover{
    background-color: #a19ceb ;
    transition: .5s;
}
.color-button-projects-1{
    border-radius: 3rem;
    background-color: #2c2a4a ;
    height: 3rem;
    width: 5rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.center-button-projects{
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}
.projects-text-color{
    /* color:#907AD6 ; */
    text-shadow: 2px 4px 4px #3ebfff ;
}
.projects-text-color-desctiprion{
    /* color:#907AD6 ; */
    text-shadow: 2px 4px 4px #dabfff ;
}
.font-family-mochi{
    font-family: 'Mochiy Pop One', sans-serif;
}
.font-family-lobster{
    font-family: 'Lobster', sans-serif;
}