@tailwind base;
@tailwind components;
@tailwind utilities;




html{
    scroll-behavior:auto;
}   
i{
    border-radius: 2rem;
    background-image: linear-gradient(90deg, rgb(102, 167, 232) 39%, rgb(25, 47, 247) 95%);
}
.es{
    display: static !important;
}
.eng{
    display: none !important;
}
#enlaceSkill{

}
.nav-options{
    top: 1rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transition: ease-in-out .2s ;
}
.nav-options-fixed{
    top: 0;
    display: flex;

    height: 5rem;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    transition: ease-in-out .2s ;
    position: fixed;
    
    background-color: #3e3f6cc5;
    z-index: 999;
}

body{
    background-color:rgb(44, 42, 74);
    margin: 0 auto;
    color:#ffffff;
    overflow-x: hidden;
    /* font-family: 'Mochiy Pop One', sans-serif; */
    font-family: 'Jost', sans-serif;
    background-image: url(/assets/icon-code.svg);
    background-size: 1.5rem;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    
   
}

a{
    cursor: pointer !important;
}
.ancho-proyectos >*{
    cursor: pointer;
}
.margin-hardskills{
    position: relative;
    top: 7rem;
    
}
.article-options-mob{
    display: none;
}
.nav-positioning-mob{
    display: none;
    z-index: 998;
}
.height-icon-name{
    
    height: 3rem;
}

.bg-imagen{
    background-image: url(/assets/yoCodeando.webp);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    object-fit: fill;
}
.my-description{
    font-size: 4rem;
}
.height-correct-myname{
    position: relative;
    top: 1rem;
    height: 86vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }
  
.nav-positioning{
    display: block;
}

.max-width{
    max-width: 900px;
}
.width{
    width: 100%;
}
.margin{
    margin: 0 auto;
}
.height-welcome{
    height: 50vh;
}
.height-correct-myname{
    height: 86vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.tecnologias-bg{
    border-radius: 3rem;
    background-color: #4f518c;
}
.index{
    z-index: 995;
}
.index2{
    z-index: 994;
    
}
.height-correct-skills{
    /* height: 5vh; */
    margin:10rem auto 10rem auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.height-correct-whoIme{
    margin-top:14rem;
    display: flex;
    /* flex-wrap: wrap; */
}
.height-correct-proyectos{
    height: 123vh;
    
    
}
.padding-offer{
    padding:1rem 6rem;
}
.height-correct-contact{
    margin-top: 20rem;
    height: 50vh;
}
.size-svg-contact1{
    width: 3rem;
}
.box-tecnologies{
    margin: 0 auto;
    width: 89%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 1rem;.1em
}

.about-me-title{
    position: relative;
    top: 9rem;

}

.pastilla-html{
    background-color: rgba(255, 21, 0, 0.656);
    padding: .1em .3em;
}
.pastilla-css{
    background-color: rgba(41, 131, 248, 0.872);
    padding: .1em .3em;
}
.pastilla-js{
    background-color: gold;
    padding: .1em .3em;
}
.pastilla-tailwind{
    background-color: rgb(0, 183, 255);
    padding: .1em .3em;
}
.pastilla-js p{
    color: #020204;
    font-weight: bold;
}
   
    
.box-tecnologies-projects{
    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 1rem;
}
.box-contact{
    margin: 0 auto;
    width: 60%;
    height: 7rem;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    gap: 1rem;
}
.box-contact svg{
    width: 4rem;
    height: 4rem;
    cursor: pointer;
}
/* .box-contact svg:hover{
    fill: #2c2a4a;
    transition: .4s all ease;
    

} */
.telefono svg:hover{
    fill: #020204;
    transition: .4s all ease;
    

}
.instagram svg:hover{
    fill: #ea7312;
    transition: .4s all ease;
    

}
.mail svg:hover{
    fill: #ff4b4b;
    transition: .4s all ease;
    

}
.box-contact svg:not(hover){
    
    transition: .4s all ease;
}

.tecnologias-bg-projects{
    border-radius: 3rem;
    
}
.box-tecnologies-projects img{
    width: 3rem;
    
}
.box-box-contact img{
    width: 3rem;
    
}
.about-me-img{
    height: auto;
    width: 24rem;
    border-radius: 50%;
}
.aboutme-grid{
    height: auto;
    display: grid ;
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(2 , 50%);
}
.box-tecnologies-mob{
    display: none;
}
.bg-aboutme1{
    background-color: #4F518C;
}
.bg-aboutme2{
    background-color: #4f518c;
}
.bg-projects{
    box-shadow:  0px 1px 0px 1px rgba(0, 0, 0, 0.3);
}
.bg-projects:hover{
    
    -webkit-animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
        animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    
    
}










@-webkit-keyframes shadow-pop-tr {
    0% {
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
              box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
              box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
      -webkit-transform: translateX(-8px) translateY(8px);
              transform: translateX(-8px) translateY(8px);
    }
  }

  
  



.text-color-special-string{
    color:#F10404;
}
.button-arrow-up:hover{
    position: relative;
    border-radius: 3rem;
    /* color: #3ebfff; */
    
}

.img-arrow{
    display: none;
    
    opacity: 0;
    
}
.img-arrow-scroll{
    
    opacity: 1;
    
    height: 5rem;
    width: 5rem;
    z-index: 999;
    position: fixed;
    right: 5rem;
    top: 28rem;
    border-radius:50%;
    outline: 10rem ;
    transition: all 1s ease ;
    animation: bump 0.4s linear infinite alternate;
} 
.img-arrow::after {
    content: '';  
    box-sizing: border-box;
    left: 50%;
    bottom: 100%;
    transform: translate(-50%, 0);
    position: absolute;
    border: 15px solid transparent;
    border-bottom-color: #FFF;
  }
  @keyframes bump {
    0% {
      transform: translate(-50%, 5px);
    }
    100% {
      transform: translate(-50%, -5px);
    }
  }
    
.img-arrow-scroll:hover{
    transition: 1s ;
    /* background-color: #5c5db2; */
}
.img-arrow-scroll:not(:hover){
    transition: 1s ;

}



.descriptive-text-size{
    font-size: 1.3rem;

}
.grid-projects{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2, 45%);
    gap: 2rem;
    margin: 5rem;
}
.margin-aboutme{
    margin-bottom: 36rem;
}
.margin-projects{
    /* margin-bottom: 36rem; */
}
.width-projects{
    width: 100%;
    /* max-height: 8rem; */
}


.text-pop-up-top{
	-webkit-animation: text-pop-up-top 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: text-pop-up-top 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}




 @-webkit-keyframes text-pop-up-top {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes text-pop-up-top {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  




.color-button-projects-1:not(:hover){
    transition: .5s;

}
.color-button-projects-1:hover{
    background-color: #a19ceb ;
    transition: .5s;
}
.color-button-projects-1{
    border-radius: 3rem;
    background-color: #2c2a4a ;
    height: 3rem;
    width: 5rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.center-button-projects{
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}
.projects-text-color{
    /* color:#907AD6 ; */
    text-shadow: 2px 4px 4px #3ebfff ;
}
.projects-text-color-desctiprion{
    /* color:#907AD6 ; */
    padding: 6px 3rem;
    text-shadow: 2px 4px 4px #dabfff ;
}
.font-family-mochi{
    font-family: 'Mochiy Pop One', sans-serif;
}
.font-family-lobster{
    font-family: 'Lobster', sans-serif;
}
