@media screen and (max-width:800px) {
    
    
    .nav-positioning{
        display: none;
    }
    .title-text-size{
        font-size: 2rem;
    }
    
    .my-description{
        font-size: 8vw;
    }

    .bg-imagen-mob{

        background-image: url(/assets/fondoCelular.png);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        height: 100vh;
    }
    .about-me-img{
        height: auto;
        width: 15rem;
        border-radius: 50%;
    }
    
    .box-tecnologies{
        display: none;

    }
    .box-tecnologies-mob{

        margin: 0 auto;
        min-width: 90%;
        height: 22vh;
        display: grid;
        grid-template-columns: repeat(4, 20%);
        grid-template-rows: repeat(2, 50%);
        justify-content: space-around;
    
    }
    .margin-aboutme{
        margin-bottom: 306%;
    }
    .aboutme-grid{
        display: grid ;
        position: absolute;
        top: 0;
        width: 100%;
        height: 150vh;
        margin: 0 auto;
        grid-template-rows: 50% 30%;
        grid-template-columns: 100%;
    }
    .grid-projects{
        display: grid;
        grid-template-rows: repeat(2, 50%);
        grid-template-columns:100%;
        gap: 2rem;
    }
    .tecnologies-size{
        height: 36px;
    }
    .tecnologies-text-size{
        font-size: 12px;
        text-align: center;
    }

    .height-icon-name{
    
        
    display: flex;
    flex-wrap: wrap;
    align-content: center;
        height: 8vw;
        
    }
    .tamaño-icon-light{
        width: 2rem;
    }
    .height-correct-myname-mob{
        position: relative;
        top: 2rem;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
      }
      
    .nav-positioning-mob.active{
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        z-index: 998;
        height: 95vh;
        bottom: 0px;
        right: 0px;
        left: 0px;
        top: 0px; 
        z-index: 999;
        opacity: 1;
        transition: opacity ease-in .5s ;
        
        backdrop-filter: blur(1rem);
    }
    .nav-positioning-mob{
        display: none;
        opacity: 0;
        transition: opacity ease-in .5s ;
    }
   
    /* barra de navegacion mobile */
    .article-options-mob{
        display: flex;
        position: fixed;
        justify-content: space-around;
        align-items: center;
<<<<<<< HEAD
        top: 43rem;
=======
        top: 48rem;
>>>>>>> 8406577a13927131de7765f14c181e02f96c8b90
        height: 9vh;
        background-color: #907AD6;
        z-index: 999;
    }
    .size-button-navbar-open{
        display: block;
        cursor: pointer;
        width:30px ;
    }
    .size-button-navbar-close{
        display: none;
        cursor: pointer;
        width:30px ;
    }
   
}


